@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

div[style="margin-top:90px"]:has(.bgContainerCard-bgContainer) {
  margin-top: 48px !important;
}

.colorPrimary {
  color: var(--color-primary);
}

.fontRoboto {
  font-family: "Roboto", sans-serif;
}
.fontMontserrat {
  font-family: "Montserrat", sans-serif;
}

h1 {
  /* font-size: 47px; */
  /* font-weight: 600; */
}
h2 {
  font-size: 40px;
  font-weight: 700;
}
h3 {
  font-size: 30px;
  font-weight: 700;
}

.body1 {
  font-size: 16px;
}
.body2 {
  font-size: 18px;
}
.heading {
  margin-bottom: 20px;
  color: #232323;
  letter-spacing: 03px;
  font-weight: 600;
}
.headingWhite {
  margin-bottom: 20px;
  color: #ffffff;
  letter-spacing: 0.3px;
  font-weight: 600;
  line-height: 23px;
  font-family: "Montserrat", sans-serif;
}
.heading2 {
  margin-bottom: 20px;
  color: #666666;
  font-weight: 400;
  line-height: 22px;
  font-family: "Roboto", sans-serif;
}
