.mtcHelpSectionCircleBgCard-card {
  max-width: 1436px;
  margin: auto;
  width: 85%;
  display: flex;
  align-items: center;
  column-gap: 3%;
  position: relative;
  z-index: 10;
  justify-content: space-between;
}

.mtcHelpSectionCircleBgCard-textContainer {
  max-width: 532px;
}

.mtcHelpSectionCircleBgCard-text {
  margin-top: 12px;
  color: #666;
  line-height: 23.66px;
  font-weight: 500;
}
.mtcHelpSectionCircleBgCard-imgContainer {
  position: relative;
  width: 50%;
}

.mtcHelpSectionCircleBgCard-img {
  width: 100%;
  position: relative;
  z-index: 2;
}

.mtcHelpSectionCircleBgCard-imgOverlay {
  width: 1000px;
  height: 300px;
  border-top-left-radius: 160px;
  border-bottom-left-radius: 160px;
  background-color: #ffe2cf;
  position: absolute;
  top: 50%;
  left: -40px;
  transform: translateY(-50%);
  z-index: -1;
}
