.bgcolor {
  background-color: #f7f7f7;
  padding: 15px 0;
}

.innerContainer {
  max-width: 1424px;
  width: 90%;
  margin: auto;
  /* text-align: center; */
}

.cardContainer {
  display: flex;
  column-gap: 30px;
  margin: auto;
}
.cardWrapper {
  padding: 0 10px;
  /* max-width: 450px; */
  margin-bottom: 20px;
}
.card {
  box-shadow: 1px 4px 20px -2px #0000001a;
  width: 100%;
  /* margin-right: 5rem; */
  /* min-width: 45.5rem; */
  /* min-width: 45.5rem; */
}
.bgimg {
  position: relative;
}
.title {
  position: absolute;
  bottom: 8%;
  left: 8%;
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  z-index: 10;
}
.imgCard {
  width: 100%;
  height: 288px;
}

.imgOverlay {
  position: absolute;
  width: 100%;
  height: 55%;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0.9) 100%
  );
}

.textPay {
  padding: 20px 40px;
  min-height: 230px;
}
.bordertop {
  border-top: 1px solid #e7e7e7;
}
.iconPart {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}
.bgblueColor {
  background-color: var(--color-primary);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgblueColor > svg > *,
.bgblueColor > svg path {
  fill: #fff;
  color: #fff;
}

.btn {
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  color: #666666;
}
.btn:hover {
  color: var(--color-primary);
  transition: all 0.3s;
}

@media (max-width: 1280px) {
  .cardContainer {
    column-gap: 15px;
  }
  .bgcolor {
    padding: 60px 40px;
  }
  .textPay {
    padding: 20px;
  }
  .imgCard {
    height: 250px;
  }
  .cardWrapper {
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  .bgcolor {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
  }
}

@media (max-width: 640px) {
  .cardWrapper {
    padding: 0 5px;
  }
}

@media (max-width: 480px) {
  .imgCard {
    height: 200px;
  }
}
