@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #131313;
  --color-primary: #7dd37a;
  --color-primary-light: #9bdf99de;
  --color-primary-normal-dark: #2aa126;
  --color-primary-dark: #1f921b;
  --gray-666: #666666;
  --gray-e1e1: #e1e1e1;
}

html {
  overflow-x: hidden;
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Ubuntu", sans-serif; */
  font-family: "Montserrat", serif;

  display: block;
  color: #777;
}

.text-gray-600,
.text-heading,
.text-para {
  color: #777;
}

.text-primary {
  color: var(--color-primary);
}
.text-primary-dark {
  color: var(--color-primary-normal-dark);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#navbar {
  background-image: linear-gradient(to right, #fff 12%, #2aa126 60%);
}
#startYourProject {
  background-image: linear-gradient(to left, #9bdf99de 12%, #33a72f 60%);
}
#footer {
  background-image: linear-gradient(to top, white, #d2ecd2);
}

.homeAboutSection {
  background-image: linear-gradient(to right, white, #e4f3e4);
}
.homeAccelerateGrowthCard {
  background-image: linear-gradient(to right bottom, white, #e4f3e4);
  border: 1px solid var(--color-primary-light);
  border-radius: 4px;
}
.portfolioSlideCard {
  background-image: linear-gradient(to bottom, white, #e4f3e4da);
  border: 1px solid var(--color-primary-light);
}
.homeOurPartners {
  background-image: linear-gradient(to left, white, #e4f3e4);
}

.caption {
  font-size: 14px;
}

.technologySkillContainer {
  display: none;
}

.technologySkillContainer-active {
  display: flex;
  animation: slideIn 0.4s linear;
}

#sliderContainer .slick-slider button {
  top: 40% !important;
}

@keyframes slideIn {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.swiper-button-next,
.swiper-button-prev {
  visibility: hidden !important;
  opacity: 0 !important;
}

/* _____________________________________________________________________ */

.btnPrimary {
  background-color: var(--color-primary);
  transition: all 0.3s;
  border-radius: 4px;
}
.btnPrimary:hover {
  background-color: var(--color-primary);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-color: var(--color-primary);
}

.btnOutlined {
  background: #fff;
  border-radius: 4px;
  border: 2px solid var(--gray-e1e1);
  color: var(--color-primary);
  font-weight: 600;
  padding: 12px 42px;
  transition: all 0.3s;
}
.btnOutlined:hover {
  background-color: var(--color-primary);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-color: var(--color-primary);
}

.btnPrimary:active,
.btnOutlined:active {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  transform: scale(0.97);
}

/* @media screen and (min-width: 768px) {} */

.flip-img {
  transform: rotateY(0deg);
  transition: 500ms;
}

.flipped {
  transform: rotateY(90deg);
}

/* veeren  start css*/
.whats-app {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 60px;
  right: 20px;
  left: unset;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
}

.taper {
  -webkit-tap-highlight-color: red !important;
}

.marketplaceWrapper {
  position: relative;
}

.marketplaceWrapper .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(247, 248, 248);
  height: 80px;
  width: 80px;
  line-height: 80px;
  text-align: center;
}

.marketplaceWrapper .icon img {
  margin: 16px;
}

.marketplaceWrapper .border-right {
  border-right: 1px solid #2aa126;
}

.marketplaceWrapper .border-bottom {
  border-bottom: 1px solid #2aa126;
}

.marketplaceWrapper .box {
  padding: 2rem;
}

fieldset {
  border: 10px solid transparent;
  border-top-color: black;
  box-sizing: border-box;
  grid-area: 1 / 1;
  width: inherit;
}

.marketPlace_wrapper .flex-col {
  padding: 1rem;
}

.marketPlace_wrapper .flex-col img {
  border-radius: 10px;
  margin-top: 1rem;
}

.legend-box {
  border: 1px solid #2aa126;
  border-radius: 20px;
  position: relative;
  padding: 4rem 2rem;
  /* margin-bottom: 1.5rem; */
}

.legend-box .head {
  position: absolute;
  top: -14px;
  font-weight: 700;
  font-size: 18px;
  padding: 0 1rem;
}

.feature > img {
  width: "40px";
  height: "40px";
  object-fit: "cover";
  border: "1px solid red";
}

.speedysolution h1 {
  /* font-size: 44px;
    line-height: 55px;
    padding-top: 2rem; */
}

.speedysolution .pt-2 {
  padding-top: 10px;
}

.speedysolution .active-tab {
  border-left: 5px solid #2aa126;
  background-color: rgb(247, 248, 248);
  border-color: #2aa126;
}

.flex-inner {
  display: flex;
  justify-content: space-between;
}

.speedysolution .innerTab {
  /* border-left-width: 6px;
     padding: 2rem;
      font-size: 23px;
      border-color: #fff;
      width: 100%; */
  padding-top: 2.3rem;
  padding-bottom: 2.3rem;
}

.flex-inner .col {
  width: 33.3%;
}

.speedysolution .btn,
.work-speach .btn {
  font-size: 1.125rem;
  line-height: 1.75rem;
  display: inline-flex;
  min-height: 50px;
  min-width: 205px;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-color: transparent;
  --tw-bg-opacity: 1;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 700;
  --tw-text-opacity: 1;
  background-color: #2aa126;
  color: #fff;
  border-radius: 0;
  margin: 1.5rem;
  text-transform: lowercase;
}

.speedysolution .btn:hover,
.work-speach .btn:hover {
  border-color: #2aa126;
  background-color: #fff;
  color: #2aa126;
}

.technology {
  background: #dadbdd;
}

.technology .col-lg-8 {
  max-width: 66.666667%;
}

.technology .col-lg-4 {
  max-width: 33.333333%;
}

.technology .p-50 {
  padding: 30px 0 80px;
}

.technology .box {
  font-size: 15px;
  line-height: 18px;
  padding: 1rem;
  background-color: #fff;
  margin-right: 1rem;
  margin-bottom: 1rem;
  min-height: 70px;
}

.technology .box .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.technologies_bg_image {
  background: url(../public/backgrounds/design-technology.png) no-repeat top
    right/cover;
  width: 100%;
  height: 100%;
}

.technology .tech-inner {
  padding-right: 0 !important;
  margin-right: 0;
}

.work-speach,
.our-transparent {
  padding: 30px 0;
}

.work-speach .w-50 {
  width: 50%;
}

.work-speach .h-100 {
  height: 100%;
  padding: 1rem;
}

.work-speach .d-flex {
  display: flex;
}

.work-speach .between {
  justify-content: space-between;
}

.our-transparent img {
  max-width: 100%;
  height: auto;
}

.technology .icon {
  max-width: 40px;
  max-height: 40px;
}

.technology h1 {
  margin-top: 0 !important;
}

.dropdown-content a:hover,
.dropdown-content a:active,
.dropdown-content a:focus {
  background-color: #2aa126 !important;
  color: #fff;
}

.nss-offer .mt-top {
  margin-top: 4rem;
  padding-bottom: 3rem;
}

.nss-offer .mt-bottom {
  margin-bottom: 4rem;
}

.agile-wrapper .circle-icon {
  width: 120px;
  height: 120px;
  line-height: 120px;
  -webkit-box-shadow: 0 6px 30px rgb(0 0 0 / 8%) !important;
  border-radius: 50%;
  text-align: center;
}

.agile-wrapper .circle-icon img {
  margin: 2rem auto;
}

.customSlider img {
  max-height: 150px;
}

.customSlider .text-elips {
  min-height: 50px;
}

.companyWrapper {
  max-height: 480px;
  height: 100%;
  margin: auto;
}

.companyWrapper1 {
  max-height: 480px;
  height: 100%;
  margin: auto;
  max-width: 450px;
}

@media (max-width: 767px) {
  .companyWrapper {
    max-height: 250px;
    max-width: 210px;
  }

  .companyWrapper1 {
    max-height: 250px;
    max-width: 210px;
  }

  .nss-offer .mt-top {
    margin-top: 0rem;
    padding: 1rem 2rem;
  }

  .nss-offer .mt-bottom {
    margin-top: 0rem;
    padding: 1rem 2rem;
    margin-bottom: 0;
  }

  .nss-offer h1.text-heading {
    margin-bottom: 2rem;
  }

  .nss-offer .grid {
    padding: 1rem;
  }

  .mobile-view {
    flex-direction: column !important;
  }

  .mobile-view h1 {
    margin: 0.8rem 0 !important;
  }

  .technologies_bg_image {
    display: none;
  }

  .tech-inner {
    flex-direction: column;
  }

  .work-speach .w-50 {
    width: 100%;
  }

  .speedysolution h1 {
    /* font-size: 24px !important; */
    /* line-height: 40px !important; */
  }

  .flex-inner .col {
    width: 100%;
  }

  .speedysolution .innerTab {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .technology .box .flex {
    flex-direction: column-reverse;
  }

  .flex-inner {
    flex-direction: column;
  }

  .marketplaceWrapper .icon {
    display: none;
  }

  .marketplaceWrapper .border-right,
  .marketplaceWrapper .border-bottom {
    border: 0;
  }

  .marketplaceWrapper .box {
    border-bottom: 1px solid #2aa126;
  }

  .innerImg {
    flex-wrap: wrap;
  }

  .legend-box {
    padding: 2rem 1rem;
  }
}

.buttonStyle {
  border: 1px solid #eee;
  padding: 5px 15px;
  background-color: rgb(243, 244, 246);
  border-radius: 10px;
  font-weight: 700;
  transition: 0.3s ease-out;
  box-shadow: 3px 7px 26px -16px rgba(0, 0, 0, 0.4);
}

.buttonActive {
  /* background-color: #2AA126; */
  background-color: #1f8d1b;
  color: white;
  box-shadow: 3px 7px 26px -16px rgba(0, 0, 0, 0.4);
}

.buttonActive:hover {
  color: white !important;
}

.skype {
  color: #00aff0;
  font-size: 40px;
}

.twitter {
  color: #1da1f2;
  font-size: 40px;
}

.contact-icons {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.contact-icon {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.consultant__popup {
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  max-width: 600px;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  display: none;
}

.consultant__overlay.active,
.consultant__popup.active {
  display: block;
}

.consultant__overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(17, 17, 17, 0.4);
  display: none;
  cursor: pointer;
}

.consultant__header {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  position: relative;
  padding: 0 10px;
}

.consultant__header ion-icon {
  position: absolute;
  right: -5px;
  top: -5px;
  cursor: pointer;
}

.consultant__success {
  text-align: center;
}

.consultant__box {
  padding: 20px 30px 40px;
  margin: 20px 0 0;
}

@media (min-width: 992px) {
  .block-below-991 {
    display: none;
  }

  .none-below-991 {
    display: block;
  }
}

@media (max-width: 991px) {
  .mbgrid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .block-below-991 {
    display: block;
    padding-top: 20px;
  }

  .none-below-991 {
    display: none;
  }

  .col-nsspl {
    flex-direction: column !important;
  }

  .col-100 {
    width: 100% !important;
  }

  .flex-nsspl {
    display: flex;
  }

  .flex-center-nsspl {
    justify-content: center;
    display: flex;
    align-items: center;
  }

  /*.font-md-nsspl h1 {*/
  /*    font-size: 18px;*/
  /*}*/

  .font-md-nsspl h2 {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .horizontal-nsspl-padding {
    padding: 10px 10px 0;
  }
}

@media (max-width: 600px) {
  .col-100 {
    width: unset !important;
  }
}

.min-width-nsspl {
  min-width: 40px;
}

/* veeren  end css*/
