.textHeading-textHeadingContainer {
  max-width: 1056px;
  margin: auto;
  margin-bottom: 60px;
  text-align: center;
}
.textHeading-pay {
  line-height: 26px;
  max-width: 743px;
  margin: auto;
}
.textHeading-borderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 10px;
}
.textHeading-BoderBlack {
  border: 2px solid #232323;
  width: 25px;
  display: block;
}
.textHeading-BoderBlue {
  border: 2px solid #2aa126;
  width: 50px;
  display: block;
}
